// Colors
$color-light-green: rgba(71, 221, 45, 0.8);
$color-light-green-text: rgb(34, 196, 6);
$color-dark-green: rgba(32, 146, 106, 0.6);
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-primary-text: #ffffff;
$color-secondary-text: #777;
$color-primary-background: #fff;
$color-primary-shadow: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;

//Constant
$primary-border-radius: 3px;