@use "../abstracts" as abs;

.footer {
    background-color: abs.$color-gray-dark-2;
    padding: 10rem 0;
    font-size: 1.4rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid abs.$color-gray-light-2;
        padding-top: 2rem;
        width: fit-content;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            color: abs.$color-gray-light-1;
            display: inline-block;
            transition: all .2s ease;
            background-color: abs.$color-gray-dark-2;
        }

        &:hover,
        &:active {
            color: abs.$color-light-green-text;
            box-shadow: 0 1rem 2rem rgba(abs.$color-primary-shadow, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid abs.$color-gray-light-2;
        padding-top: 2rem;
        color: abs.$color-gray-light-1;
    }

}