@use '../abstracts' as abs;

.row {
    max-width: abs.$grid-width;
    margin: 0 auto;
    @include abs.clearFix;

    &:not(:last-child) {
        margin-bottom: abs.$gutter-vertical;
    }

    [class^=col-] {
        color: black;
        float: left;

        &:not(:last-child) {
            margin-right: abs.$gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{abs.$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{abs.$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(2*((100% - 2 * #{abs.$gutter-horizontal}) / 3) + #{abs.$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{abs.$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2*((100% - 3 * #{abs.$gutter-horizontal}) / 4) + #{abs.$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3*((100% - 3 * #{abs.$gutter-horizontal}) / 4) + 2 * #{abs.$gutter-horizontal});
    }
}