@use "../abstracts" as abs;

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            abs.$color-light-green,
            abs.$color-dark-green),
        url("./assets/images/hero.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
