@use "../abstracts" as abs;

.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: abs.$color-primary-background;
        position: fixed;
        height: 7rem;
        width: 7rem;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(abs.$color-light-green-text, abs.$color-dark-green-text);
        z-index: 1000;
        transition: transform 0.4s ease;
        transform: scale(80);
    }

    &__nav {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1500;
    }

    &__list {
        @include abs.centeredContainer;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            text-decoration: none;
            color: abs.$color-primary-text;
            background-image: linear-gradient(110deg, transparent 0%, transparent 50%, white 50%);
            background-size: 220%;
            transition: all 0.3s ease;
        }

        span {
            margin-right: 1.5rem;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: abs.$color-light-green-text;
            transform: translateX(1rem);
        }
    }
}