@use "../abstracts" as abs;

.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: abs.$color-primary-background;
        position: fixed;
        height: 7rem;
        width: 7rem;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(abs.$color-light-green-text, abs.$color-dark-green-text);
        z-index: 1000;
        transition: transform 0.4s ease;
    }

    &__nav {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1500;
        width: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .5s cubic-bezier(.55, -0.31, .54, 1.28);
    }

    &__list {
        @include abs.centeredContainer;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            text-decoration: none;
            color: abs.$color-primary-text;
            background-image: linear-gradient(110deg, transparent 0%, transparent 50%, white 50%);
            background-size: 220%;
            transition: all 0.4s ease;
        }

        span {
            margin-right: 1.5rem;
            display: inline-block;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: abs.$color-light-green-text;
            transform: translateX(1rem);
        }
    }

    // functionality

    &__icon {
        position: relative;
        margin-top: 3.5rem;
        padding: 1px;
        user-select: none;

        &,
        &::before,
        &::after {
            display: inline-block;
            height: 1.5px;
            width: 3rem;
            background-color: abs.$color-gray-dark-2;
            border-radius: abs.$primary-border-radius;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s ease;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }

    }

    &__button:hover &__icon {
        &::before {
            top: -1rem
        }

        &::after {
            top: 1rem
        }
    }

    &__checkbox:checked~&__background {
        transform: scale(80);
    }

    &__checkbox:checked~&__nav {
        width: 100%;
        opacity: 1;
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;

        &::before {
            transform: rotate(135deg);
            top: 0;
        }

        &::after {
            transform: rotate(-135deg);
            top: 0;
        }
    }
}