@use "../abstracts" as abs;
@use "../base" as base;

.btn {

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s ease-out;
        position: relative;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(abs.$color-primary-shadow, 0.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(abs.$color-primary-shadow, 0.2);
    }

    &--white {
        background-color: abs.$color-primary-background;
        color: abs.$color-secondary-text;

        &::after {
            background-color: abs.$color-primary-background;
        }
    }

    &--green {
        background-color: abs.$color-light-green-text;
        color: abs.$color-primary-text;

        &::after {
            background-color: abs.$color-light-green-text;
        }
    }

    &--animate {
        animation: moveInFromBottom 1s ease-out;
    }

    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        transition: all 0.4s ease-out;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}

.btn-text {

    &:link,
    &:visited {
        font-size: abs.$default-font-size;
        color: abs.$color-light-green-text;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid abs.$color-light-green-text;
        padding: .3rem .6rem;
        transition: all .2s;
    }

    &:hover {
        background-color: abs.$color-light-green-text;
        color: white;
        border-radius: 5%;
        box-shadow: 0 1rem 2rem rgba(abs.$color-primary-shadow, 0.2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(abs.$color-primary-shadow, 0.2);
        transform: translateY(0);
    }
}