@use "../abstracts" as abs;

.card {
    perspective: 100rem;
    -moz-perspective: 100rem;
    position: relative;
    height: 50rem;

    &__side {
        height: 50rem;
        transition: all .9s ease;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(abs.$color-primary-shadow, .15);

        &--front {
            background-color: abs.$color-primary-background;
        }

        &--back {
            background-color: blueviolet;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, abs.$color-secondary-light, abs.$color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient();
            }

            &-3 {
                background-image: linear-gradient();
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    // front side style
    &__picture {
        background-size: cover;
        background-position: center;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, abs.$color-secondary-light, abs.$color-secondary-dark), url("./assets/images/nat-5.jpg");
        }

        &--2 {
            background-image: url("./assets/images/nat-5.jpg");
        }

        &--3 {
            background-image: url("./assets/images/nat-5.jpg");
        }
    }
}