@use "../abstracts" as abs;

.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(abs.$color-primary-shadow, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s ease;
        outline-offset: 0;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid abs.$color-light-green-text;
            outline-offset: 2rem;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba(abs.$color-primary-shadow, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

}