@use "../abstracts" as abs;

.feature-box {
    background-color: rgba(abs.$color-primary-background, .8);
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(abs.$color-primary-shadow, .15);
    transition: all .3s ease;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, abs.$color-light-green, abs.$color-dark-green);
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: scale(1.03) translateY(-1.5rem);
        box-shadow: 0 2.5rem 4rem rgba(abs.$color-primary-shadow, .2);
    }
}