@use "../abstracts" as abs;

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(abs.$color-primary-background, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s ease;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(abs.$color-primary-shadow, .1);
            border-bottom: 3px solid abs.$color-light-green-text;
        }

        &::placeholder {
            color: abs.$color-gray-dark;
        }

        &:user-invalid {
            border-bottom: 3px solid abs.$color-secondary-dark;
        }

        &:user-valid {
            border-bottom: 3px solid abs.$color-light-green-text;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s ease;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}