@use "../abstracts" as abs;

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: abs.$color-black-opaque;
    z-index: 5000;
    overflow: hidden;

    &__content {
        @include abs.centeredContainer;
        width: 75%;
        background-color: abs.$color-primary-background;
        box-shadow: 0 2rem 4rem rgba(abs.$color-primary-shadow, .4);
        border-radius: abs.$primary-border-radius;
        display: table;
    }

    &__left {
        width: calc(100%/3);
        display: table-cell;
    }

    &__right {
        width: calc((100%/3) * 2);
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}