@use "../abstracts" as abs;

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(abs.$color-primary-shadow, .1);
    background-color: rgba(abs.$color-primary-background, .6);
    padding: 6rem;
    padding-left: 9rem;
    border-radius: 3px;
    font-size: abs.$default-font-size;
    transform: skewX(-12deg);

    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        overflow: hidden;
        z-index: 10;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease;
        backface-visibility: hidden;
        transform: scale(1.2);
    }

    &__text {
        transform: skew(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: abs.$color-primary-text;
        font-size: 1.7rem;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        transition: all .3s ease;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform: scale(1.08);
        filter: blur(3px) brightness(80%);
    }
}