@use "../abstracts" as abs;

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: transparent;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, abs.$color-light-green, abs.$color-dark-green);
    -webkit-background-clip: text;
    transition: all .2s;
    user-select: none;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(abs.$color-primary-shadow, .2);
    }
}


.heading-tertiary {
    font-weight: 700;
    text-transform: uppercase;
    font-size: abs.$default-font-size;
    z-index: 20;
    user-select: none;
}

.paragraph {
    font-size: abs.$default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}